<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562510359097-9jaljcb8l6n9t2icmage1ebhlse3rith.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562510359097-9jaljcb8l6n9t2icmage1ebhlse3rith</string>
	<key>API_KEY</key>
	<string>AIzaSyC5fRQJDnUggzJLfkDGdx1kbRW8tn9HKp8</string>
	<key>GCM_SENDER_ID</key>
	<string>562510359097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.kpfu.IoT</string>
	<key>PROJECT_ID</key>
	<string>smart-home-single</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-home-single.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562510359097:ios:7c8c87fe9af90787213be8</string>
	<key>DATABASE_URL</key>
	<string>https://smart-home-single.firebaseio.com</string>
</dict>
</plist>